.subHero {
	height: 450px;
	border-radius: 10px;

	background-size: cover;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
	.subHero {
		height: 400px
	}
}

@media only screen and (max-width: 480px) {
	
}
