.topbar {
	margin: 45px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topbar__logo, .topbar__items p {
	cursor: pointer;
}

.topbar__items {
	display: flex;
	gap: 2rem;
}

.topbar__items p {
	font-weight: 700;
	font-size: 12px;
	line-height: 1px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--grey);
}

.topbar__items p:hover {
	color: var(--dark-grey-blue);
}

.topbar__hamburger {
	display: none;
}

.hamburger__item {
	width: 16px;
	height: 3px;
	border-radius: 1.5px;
	transition: all .5s;
	background-color: var(--dark-grey-blue);
}

.hambuger--rotate__positive {
	transform: rotate(45deg) translateY(4px);
}
.hambuger--display__none {
	display: none;
}
.hambuger--rotate__negative {
	transform: rotate(-45deg) translateY(-4px);
}

@media only screen and (max-width: 480px) {
	.topbar__items {
		display: none;
	}

	.topbar__hamburger {
		display: flex;
		flex-direction: column;
		gap: 3px;
	}
}
