.planContainer {
	margin-top: 160px;
	padding: 0 6vw;
	display: flex;
	justify-content: center;
	gap: 120px;
}

.planContainer__sections {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.planContainer__section {
	display: flex;
	gap: 28px;
	color: rgba(131, 136, 143, 0.8);
	cursor: pointer;
	position: relative;
}

.planContainer__section::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #83888F;
	opacity: 0.25;
	position: absolute;
	bottom: -16px;
	left: 0;
}

.planContainer__section:last-child::after {
	content: none;
}

.planContainer__section span {
	font-family: 'Fraunces', sans-serif;
}

.planContainer__section:hover {
	color: rgba(131, 136, 143, 1);
}

.planContainer__section.active {
	color: var(--dark-grey-blue);
}

@media only screen and (max-width: 768px) {
	.planContainer {
		margin-top: 140px;
		padding: 0;
	}
	.planContainer__sections {
		display: none;
	}
	
}

@media only screen and (max-width: 480px) {
	.planContainer {
		margin-top: 120px;
	}
}
