:root {
  --dark-cyan: #0E8784;
  --dark-grey-blue: #333D4B;
  --pale-orange: #FDD6BA;
  --light-cream: #FDD6BA;
  --grey: #83888F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  /* color: var(--pale-orange); */
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', sans-serif;
}
